body {
    /* uigradients.com */
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Oxygen, sans-serif;
    min-width: 300px;
    word-spacing: 2px;
    line-height: 1.6;
}

.fun {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff4b1f, #1fddff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff4b1f, #1fddff); /* W3C, IE 10+/ Edge, Firefox 16+, */
}

.notfun {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, #000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff, #000); /* W3C, IE 10+/ Edge, Firefox 16+, */
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}

#activity {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
}

h1,
h4 {
    text-shadow: 1px 1px 3px #fff;
}

@media (max-width: 768px) {

    button {
        height: 200px;
        width: 200px;
    }
}